<div>
  <mat-button-toggle-group vertical (change)="modeChanged($event)">
    <mat-button-toggle value="Edit" checked matTooltip="Plotting Tool" matTooltipPosition="right">
      <i class="material-icons" alt="Plot Tool">edit</i>
    </mat-button-toggle>
    <mat-button-toggle value="Pan" matTooltip="Pan Tool" matTooltipPosition="right">
      <i class="material-icons" alt="Pan Tool">pan_tool</i>
    </mat-button-toggle>

    <button mat-flat-button (click)="zoomChanged(0)" matTooltip="Zoom In" matTooltipPosition="right">
      <i class="material-icons" style="font-size: 32px; padding-bottom: 5px; padding-top: 10px;" alt="Zoom In">zoom_in</i>
    </button>
    <button mat-flat-button (click)="zoomChanged(1)" matTooltip="Zoom Out" matTooltipPosition="right">
      <i class="material-icons" style="font-size: 32px; padding-bottom: 10px; ; padding-top: 5px;" alt="Zoom Out">zoom_out</i>
    </button>
    <button mat-flat-button color="accent" (click)="exportPDF()" matTooltip="Export PDF" matTooltipPosition="right">
      <i class="material-icons" style="font-size: 32px;" alt="Print">print</i>
    </button>
  </mat-button-toggle-group>
</div>
