$white: white;

* {
    color: $white;
}

table {
    width: 100%;
}

mat-card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 90%;
    background: $white;
    overflow: auto;
}
