$white: white;
$background: #424242;
$black: black;

* {
    color: $white;
}

table {
    width: 100%;
    min-width: 900px;
    table-layout: fixed;
}

caption {
    background-color: $background;
    text-align: left;
}
.dep {
    padding-left: 14px;
}

mat-paginator {
    width: 100%;
}

mat-card {
    margin-top: 5%;
    width: 90%;
    background: $white;
    overflow-x: auto;
}

th.mat-sort-header-sorted {
    color: $white;
}

.mat-form-field {
    padding-left: 20px; //Needed for mobile.
}

.full-width {
    width: 90%;
}
