<div style="text-align:center">
    <h1>Login</h1>
</div>

<mat-card-content>
  <form class="login">
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" name="email" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" name="password" required>
    </mat-form-field>
    <button mat-raised-button color="primary">Login</button>
    <!--Need to align buttons-->
    <button mat-raised-button color="accent" style="float: right;" routerLink="/signup">Sign Up</button>
  </form>
</mat-card-content>
