//colors
$white: white;
$color_quill_gray_approx: lightgray;
$nav: #4f5051;
$black: black;


mat-toolbar {
    height: 100px;
}

mat-toolbar.mat-primary {
    background-color: $nav;
    height: 100px;
}

mat-sidenav-container {
    background-color: $black;
    height: 100%;
}

mat-sidenav-content {
	height: 100%;
}
mat-sidenav {
	height: 100%;
    width: 250px;
    background-color: $nav;
    color: $white;
}
a {
    text-decoration: none;
    font-size: 18px;
	color: $white;
	text-shadow: 2px 3px 0px rgba(0, 0, 0, .2);
	position: relative;
	display: inline-block;

	&:after {
		background: none repeat scroll 0 0 transparent;
		bottom: 0;
		content: "";
		display: block;
		height: 2px;
		left: 50%;
		position: absolute;
		background: #fff;
		transition: width 0.3s ease 0s, left 0.3s ease 0s;
		width: 0;
	}
	&:hover:after { 
		width: 100%; 
		left: 0; 
	  }
	  @media screen and (max-height: 300px) {
		  ul {
			  margin-top: 40px;
		  }
	  }
	  

	&:active {
		color: $color_quill_gray_approx;
	}
}
.navigation-items {
	list-style: none;
	padding: 0;
	margin: 0;
    cursor: pointer;
}

.label {
	display: inline-block;
	line-height: 30px;
	margin: 0;
	width: 100%;
}

ul { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
	display: table;
  }
li { 
	display: table-cell; 
	position: relative; 
	padding: 0;
  }
