<div style="text-align:center">
  <h1>Sign-Up</h1>
</div>

<mat-card-content>
  <form class="login">
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" name="email" #email required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" name="password" type="password" #password required>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="auth.signUp(email.value, password.value)">Sign up</button>
    <button mat-raised-button color="accent" style="float: right;" routerLink="/login">Login</button>
  </form>
</mat-card-content>
