<div style="text-align:center">
    <h1>Sign Up</h1>
</div>

<mat-card-content>
  <form class="signup">
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" name="email" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" name="password" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Confirm Password</mat-label>
      <input matInput placeholder="Confirm Password" name="cpassword" required>
    </mat-form-field>
    <button mat-raised-button color="primary">Sign Up</button>
    <!--Need to align buttons-->
    <button mat-raised-button color="warn" style="float: right;" routerLink="/login">Cancel</button>
  </form>
</mat-card-content>
