<mat-sidenav-container>
  <mat-sidenav #sidenav [fixedInViewport]="true" mode="side" position="end" class="sidenavBorder">
    <mat-card class="sidenavMenu">
      <mat-card-title>
        <span>
          <button mat-button class="sidenavmenuButton">Floorplans</button>
          <button mat-button class="sidenavmenuButton">Devices</button>
          <button mat-button class="sidenavmenuButton">Notifications</button>
        </span>
          <div>
            <span>
              <input matInput placeholder="Input">
              <button mat-button class="sidenavmenuButton">Search</button>
            </span>
          </div>
          <div>
            <span>
              <button mat-raised-button color="primary" (click)="fileInput.click()">Upload Floorplan</button>
              <input #fileInput type="file" (change)="chooseFiles($event)" style="display:none;" />
            </span>
          </div>
      </mat-card-title>

      <div class="sidenavcontentContainer">
        <app-floorplancard></app-floorplancard>
      </div>
    </mat-card>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="navbartoggleContainer">
      <button class="navbartoggleButton" mat-button (click)="sidenav.toggle()"> < </button>
    </div>

    <div id="canvasDiv">
      <canvas id="myCanvas" class="canvasStyle"></canvas>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


