<mat-sidenav-container id="sidenav" [hasBackdrop]="false">

  <!-- Content to be displayed within sidenav -->
  <mat-sidenav #sidenav [fixedInViewport]="true" mode="over" position="end" class="sidenavBorder" id="sidenavContainer">
    <mat-card class="uploadButton">
      <button mat-raised-button color="primary" (click)="openUpload(uploadfp)" class="mod-button-card">
        Upload Floorplan
      </button>
    </mat-card>

    <button class="navbartoggleInnerButton" mat-button (click)="sidenav.toggle()"> < </button> <mat-card class="sidenavMenu">


    <app-floorplancard class="sidenavMenu"></app-floorplancard>

    </mat-card>
  </mat-sidenav>

  <!-- Content not displayed within sidenav -->
  <mat-sidenav-content>
    <app-toolbar class="toolbar"></app-toolbar>

    <div class="navbartoggleContainer">
      <button class="navbartoggleButton" mat-button (click)="sidenav.toggle()">
        < </button> </div> <div id="canvasWrap" class="canvas-wrapper">
            
          <canvas id="myCanvas"></canvas> <!-- Canvas for plotting -->
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #uploadfp>
  <h1 mat-dialog-title>Upload Preview</h1>
  <form class="uploadFP">
    <button mat-raised-button color="primary" (click)="file.click()">Upload Floorplan</button>
    <br>
    <span style="color:red;" *ngIf="message">{{message}}</span>
    <input #file type="file" accept='image/*' (change)="preview(file.files, $event)" style="display:none;" />
    <img [src]="imgURL" height="200" style="margin-top: 5%" *ngIf="imgURL">
    <button mat-raised-button color="primary" style="margin-top: 10%; float: right; margin-bottom: 10%;"
      (click)="uploadPic()">Submit</button>
  </form>
</ng-template>

<div *ngIf="isLoading" 
   style="display: flex; justify-content: center; align-items: center; z-index: 1002">
  <mat-progress-spinner 
    color="accent" 
    mode="indeterminate">
  </mat-progress-spinner>
</div>
