<mat-sidenav-container>
  <mat-sidenav #sidenav [fixedInViewport]="true" mode="side" position="end" class="sidenavBorder">
    <mat-card class="sidenavMenu">
      <mat-card-title>
        <span>
          <button mat-button class="sidenavmenuButton">Floorplans</button>
          <button mat-button class="sidenavmenuButton">Devices</button>
          <button mat-button class="sidenavmenuButton">Notifications</button>
        </span>
          <div>
            <input matInput placeholder="Input">
          </div>
      </mat-card-title>

      <div class="sidenavcontentContainer">
        <mat-card class="floorplanCard">
          <mat-card-title>
            Test Card
          </mat-card-title>

          <mat-card-content class="floorplancardContent">
            Lorem
              <br>
            Ipsum
              <br>
            Dolor
              <br>
            Set
              <br>
            Amet
          </mat-card-content>
        </mat-card>
      </div>

      <mat-card-actions>
        <button class="sidenavuploadButton" mat-button>Add New Floorplan</button>
      </mat-card-actions>
    </mat-card>
  </mat-sidenav>

  <mat-sidenav-content>
      <div class="navbartoggleContainer">
      <button class="navbartoggleButton" mat-button (click)="sidenav.toggle()"><</button>
    </div>

    <app-canvas class="canvasStyle"></app-canvas>
  </mat-sidenav-content>
</mat-sidenav-container>
