$whitesmoke: whitesmoke;
$gainsboro: gainsboro;
$lightgrey: lightgrey;
$white: white;
$black: black;
$navbarblack: rgb(40,40,40);
$navbargrey: rgb(70,70,70);
$navbarlightgrey: rgb(95,95,95);
$backgroundgrey: rgb(60,60,60);
$darkgrey: darkgrey;

mat-sidenav-container {
  height: 100vh;
  width: 99.1vw;
  background-color: $backgroundgrey;
}

mat-sidenav {
}

/* Sidenav Toggles */
.navbartoggleContainer {
  float: right;
  height: 100vh;
  overflow: hidden;
  padding-left: 0px;
}
.navbartoggleButton {
  z-index: 2;
  top: 40%;
  height: 50px;
  background-color: $darkgrey;
}

/* Sidenav Styles */
.sidenavMenu {
  background-color: $navbarblack;
  height: 100%;
}
.sidenavmenuButton {
  background: #7d7e7d;
  background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
  background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
  color: $lightgrey;
  margin-right: 5px;
}

.sidenavuploadButton {
  width: 100%;
  background: #7d7e7d;
  background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
  background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
  color: $lightgrey;
}

.sidenavcontentContainer {
  height: 83%;
  border: gainsboro;
  border-style: inset;
  overflow-y: scroll;
  background-color: $navbarlightgrey;
}

/* canvas styles */
#myCanvas {
  border: 3px solid #000;
  background-color: $white;
  border-color: dimgrey;
  border-style: groove;
  margin: 10px;
}

#canvasDiv {
  position: absolute;
  left: 45%;
}
