$whitesmoke: whitesmoke;
$gainsboro: gainsboro;
$lightgrey: lightgrey;
$white: white;
$black: black;
$darkgrey: grey;
$footertextbox: rgb(70,70,70);
$cardbackground: rgb(55,55,55);
$cardshadow: rgb(25,25,25);

/* Floorplan Card Styles */
.cardContainer {
  background-color: $cardbackground;
  margin: 10px;
  border-radius: 5%;
  box-shadow:
    5px 5px 15px 1px $cardshadow;
}

.cardContent {
  background-color: $white;
  color: $black;
}

.cardFooter {
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 6%;
}

.floorplanName {
  position: relative;
  padding: 2px;
  background-color: $footertextbox;
  border-color: $darkgrey;
  border-style: inset;
}

.icon {
  position: absolute;
  left: 83%;
  bottom: 2%;
  width: 12%;
  border-radius: 50%;
  border-color: $footertextbox;
  border-style: inset;
  border-width: 3px;
}

.floorplanPreview {
  width: 200px;
}

#viewOptions {
  display: none;
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: transparentize($cardbackground, .2);
}
